body {
    background-color: gray ;
}
td 
{
    border: 1px solid black; 
}
table {
    border-collapse: collapse ;
    background-color: white ;
    width: 100% ;
}
a:hover {
    color: orange ;
}
tr:nth-child(2n+1) {
    background-color: tomato ;
    }
tr:hover td{
        background-color : 	#FF0000 ;
  }
img:hover {
    transform: scale(10) ;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #008000;
    }
}